
body {

  background: -webkit-radial-gradient(#1d1f20, #2f3031);
  background: -o-radial-gradient(#1d1f20, #2f3031);
  background: radial-gradient(#1d1f20, #2f3031);
  font-family: 'Gotham SSm A', 'Gotham SSm B', "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;

}

svg {

  height: 10000px;
  width: 3000px;

}

.header {
  display: block;
  padding: 20px;
  background: rgba(0,0,0,0.3);

  box-shadow: 0 1px 0 rgba(255,255,255,0.1),inset 0 1px 0 #000;
  margin: 10px;
  height: 50px;
  font-family: 'Gotham SSm A', 'Gotham SSm B', "Lucida Grande","Lucida Sans Unicode", Tahoma, sans-serif;

}

.botoes {
  display: block;
  margin-top:20px;
}
.botao {
  float: left;
  border: 0;
  margin-left: 10px;
  padding: 12px 16px;
  line-height: 1.4;
  background: -webkit-linear-gradient(#4d4d4d, #2f2f2f);
  background: -o-linear-gradient(#4d4d4d, #2f2f2f);
  background: linear-gradient(#4d4d4d, #2f2f2f);
  border-radius: 5px;
  border: 1px solid black;
  color: white !important;
  font-size: 1.0em;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  cursor: pointer;

}

.clickable {
/*  color: #888;
  border-color: #888;*/
}

.clickable:hover {
  background: -webkit-linear-gradient(#5a5a5a, #3c3c3c);
  background: -o-linear-gradient(#5a5a5a, #3c3c3c);
  background: linear-gradient(#5a5a5a, #3c3c3c);
}s



.marked {
  background-color: yellow;

}
.game {
  float:left;
  width: 28px;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
}

.select-game {
  border: 2px solid red;

}

.left:hover,.right:hover {
  color: blue;
}

.left-gols,.right-gols {
  font-family: sans-serif;
  font-size:10px;
  text-align:center;
  height: 10px;
}

.left,.right {
/*  border: 1px solid black;*/
  font-family: sans-serif;
  font-size:10px;
  cursor: pointer;
  text-align:center;

}
